<app-header></app-header>
<div class="container-fluid">
    <div class="container d-flex justify-content-center">
      <form>
        <div class="btn-group" role="group" name="radioBasic">
            <input type="radio" [formControl]="radio" value="all" class="btn-check" id="btnradio1" autocomplete="off" (change)="handleViewChange()">
            <label class="btn btn-primary reign-radio" for="btnradio1">
              All
            </label>
          
            <input type="radio" [formControl]="radio" value="faves" class="btn-check" id="btnradio2" autocomplete="off" (change)="handleViewChange()">
            <label class="btn btn-primary reign-radio" for="btnradio2">
              My Faves
            </label>
          </div>          
      </form>
    </div>
  
    <router-outlet></router-outlet>
  </div>
